@font-face {
  font-family: "iconfont"; /* Project id 4651375 */
  src: url('iconfont.woff2?t=1731418536895') format('woff2'),
       url('iconfont.woff?t=1731418536895') format('woff'),
       url('iconfont.ttf?t=1731418536895') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenhe:before {
  content: "\100d9";
}

.icon-biaoqian2:before {
  content: "\e638";
}

.icon-shouye-mendianshu:before {
  content: "\e611";
}

.icon-paizhao:before {
  content: "\e70f";
}

.icon-caidan3:before {
  content: "\e63c";
}

.icon-tubiaozhizuomoban:before {
  content: "\e602";
}

.icon-kongshuju2:before {
  content: "\e65a";
}

.icon-ditu8:before {
  content: "\e600";
}

.icon-icon2:before {
  content: "\e651";
}

.icon-shoucang:before {
  content: "\e699";
}

.icon-chakan_yulan:before {
  content: "\e61e";
}

.icon-fabu:before {
  content: "\e618";
}

.icon-a-fabu:before {
  content: "\e675";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-image:before {
  content: "\e8c4";
}

.icon-mv:before {
  content: "\e8d0";
}

.icon-jifen:before {
  content: "\e897";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-suo:before {
  content: "\e621";
}

.icon-biaoqian:before {
  content: "\e622";
}

.icon-tongzhi:before {
  content: "\e629";
}

.icon-chongwubeibao:before {
  content: "\e60c";
}

.icon-jiazai:before {
  content: "\e60f";
}

.icon-kaisuo:before {
  content: "\e620";
}

.icon-zhiyuandidian1:before {
  content: "\e610";
}

.icon-aixin:before {
  content: "\e6bb";
}

.icon-aixin1:before {
  content: "\e6c8";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-add1:before {
  content: "\e7e3";
}

.icon-tuisong1:before {
  content: "\e62a";
}

.icon-caogaoxiang:before {
  content: "\e726";
}

.icon-icon:before {
  content: "\e68b";
}

.icon-icon1:before {
  content: "\e68d";
}

.icon-pinglun:before {
  content: "\e60a";
}

.icon-fanhui-copy:before {
  content: "\ee5e";
}

.icon-fanhui-copy-copy:before {
  content: "\ee5f";
}

.icon-fanhui:before {
  content: "\e605";
}

.icon-window-close:before {
  content: "\e9bb";
}

.icon-sousuo1:before {
  content: "\e67e";
}

